In [69]:
import mysql.connector as connector
import mysql.connector.errors as Errors
dbconfig = {
    "user": "meta",
    "password": "Database",
    "database": "littlelemondb",
    "host": "127.0.0.1",
    "auth_plugin": "mysql_native_password"
}

try: 
    connection = connector.connect(**dbconfig)
    print('Successfully connected to the database: {}'.format(connection.database))
except Errors.Error as err:
    print("There is an error:",err)
cursor = connection.cursor()
cursor.execute("Use littlelemondb;")

Successfully connected to the database: littlelemondb

In [70]:
#task 1 Create Orders
# cursor.execute("""CREATE VIEW OrdersView as
# SELECT OrderID, Quantity, Cost
# FROM Orders; """)

#task 2
# cursor.execute("""CREATE VIEW SummaryView as SELECT c.CustomerID, CONCAT(c.CustomerFirstName," ",c.CustomerLastName) as FullName, o.OrderID,O.Cost, m.Cuisine MenuName,m.MenuType as Menu,b.Name as Beverage,s.Name as SideDish

# FROM Orders o Inner join customerdetails c on o.CustomerID = c.CustomerID
# INNER JOIN menus m ON O.MenuID = m.MenuID
# INNER JOIN beverage B ON m.BeverageID = b.BeverageID
# INNER JOIN Sides s ON m.SIdeID = s.SideID
# WHERE O.COST >25;""")

In [73]:
print(" task #1: Orderview as follows\n")
cursor.execute("""SELECT * FROM ORDERSVIEW;""")
columns = cursor.column_names
print(columns)
for row in cursor:
    print(row)

print("\n task #2 Summary View as follows\n")
cursor.execute("""SELECT * FROM SUMMARYVIEW;""")
columns = cursor.column_names
print(columns)
for row in cursor:
    print(row)

 task #1: Orderview as follows

('OrderID', 'Quantity', 'Cost')
(1, 2, Decimal('20.99'))
(2, 1, Decimal('7.99'))
(3, 4, Decimal('49.99'))
(4, 3, Decimal('29.99'))
(5, 2, Decimal('19.99'))

 task #2 Summary View as follows

('CustomerID', 'FullName', 'OrderID', 'Cost', 'MenuName', 'Menu', 'Beverage', 'SideDish')
(2, 'Jane Michael', 3, Decimal('49.99'), 'Mexican', 'Dinner', 'Sprite', 'Onion Rings')
(3, 'Bob Smith', 4, Decimal('29.99'), 'Italian', 'Dinner', 'Fanta', 'Onion Rings')

In [74]:
cursor.execute("""
SELECT M.CUISINE AS MENUNAME
FROM MENUS M WHERE M.MENUID = ANY(SELECT O.MENUID
FROM ORDERS O
GROUP BY MENUID
HAVING COUNT(ORDERID) >=2);

""")
print("\n Task 3: Query to identify Menu with >= 2 orders using ANY function and subquery\n")
columns = cursor.column_names
print(columns)
for row in cursor:
    print(row)

 Task 3: Query to identify Menu with >= 2 orders using ANY function and subquery

('MENUNAME',)
('American',)
('Mexican',)